* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./imagenes/pruebapizza.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    
}

#texto {
    padding: 10px;
    letter-spacing: 2;
    color: white;
}

#descripcion {
    color: white;
    padding: 20px;
    word-spacing: 1;
    letter-spacing: 2;
}


#input {
    padding: 10px;
    border-radius: 6px;
}

#boton {
    margin-top: 15px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff4742;
    color: #ff4742;
    background: 0 0;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 42px;
    }

#boton:hover{
    background-color: #ff4742;
    color: #fff;
}
    

#titulo {
    padding: 10px;
    letter-spacing: 2;
    color: white;
}

#precio {
    color: white;
    padding: 20px;
    word-spacing: 1;
    letter-spacing: 2;
}

#error {
    padding: 10px;
    letter-spacing: 2;
    color: white;
    display: none; 
}